@model  MVC8amKings.Models.EmpDept
    @{
        ViewBag.Title = "sendName6";
    }

    <h2>sendName6</h2>

    <table class="table table-bordered">
        <tr>
            <th>EmpId</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        @foreach (var item in Model.emp)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.EmpSalary</td>
            </tr>
        }
    </table><br />
<table class="table table-bordered">
    <tr>
        <th>Dept Id</th>
        <th>Name</th>
        
    </tr>
    @foreach (var item in Model.dept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>
        </tr>
    }
</table>

